/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
!! Copy this file to your project's
   sass root. Don't edit the version
   in node_modules.
----------------------------------------
Custom project SASS goes here.

i.e.
@include u-padding-right('05');
----------------------------------------
*/

@use "uswds-core" as *;

.homepage-card a {
   text-decoration: none;
   @include u-radius($theme-card-border-radius);
}

.homepage-card a:focus {
   outline-color: color("white");
   outline-offset: 0.25rem;
}

.homepage-card:hover .usa-card__container {
   color: color("white");
   background-color: color("primary");
}
