---
layout: default
title: City Services
description: Learn about services offered by the city and third party providers.

third_party_service_providers:
  - name: Brightspeed
    description: Brightspeed provides fiber internet services.
    website: https://www.bright.net/
    phone:
      -
        text: Phone number
        phone: 1 (883) 692-7773
  - name: Clay County Connect
    description: Clay County Connect provides fiber internet services.
    website: https://claycountyconnect.com/
    phone:
      -
        text: Phone number
        phone: 1 (870) 202-1990
  - name: Sparklight
    description: Sparklight provides cable, internet and phone services. Part of the CableOne family of brands.
    website: https://www.sparklight.com/
    phone:
      -
        text: Phone number
        phone: 1 (855) 740-8966
  - name: Entergy Arkansas
    description: Entergy Arkansas provides electricity services.
    website: https://www.entergy-arkansas.com/
    phone:
      -
        text: Customer service/emergency phone number
        phone: 1 (800) 368-3749
      -
        text: Power outage phone number
        phone: 1 (800) 968-8243
      -
        text: Walnut Ridge office's phone number
        phone: 1 (870) 886-3521
  - name: Black Hills Energy
    description: Black Hills Energy provides natural gas services.
    website: https://www.blackhillsenergy.com/
    phone:
      -
        text: Customer service/emergency phone number
        phone: 1 (888) 890-5554
  - name: Shelton Sanitation
    description: Shelton Sanitation provides sanitation services.
    website: https://www.sheltonsanitation.com/
    phone:
      -
        text: Phone number
        phone: 1 (870) 239-4000
  - name: MFA Oil
    description: MFA Oil provides propane services.
    website: https://www.mfaoil.com/store/paragould-ar-mfa-oil-propane/
    phone:
      -
        text: Phone number
        phone: 1 (870) 239-8511
---
<section class="usa-section bg-primary">
  <div class="grid-container">
    <h1 class="text-white">City Services</h1>
    <p class="usa-intro text-white">
      The City of Rector provides water utility services. Other amenities such
      as cable, telephone, internet, sanitation and gas services are provided
      by third party suppliers.
    </p>
  </div>
</section>
<section class="usa-section grid-container">
  <h2>Rector Water Department</h2>
  <p class="usa-paragraph">
    The Rector Water Department is located at 118 E. 4th St. For more
    information, please call <a class="usa-link" href="tel:18705953035">(870) 595-3035</a>.
  </p>
  <div class="grid-row grid-gap">
    <div class="tablet:grid-col-6">
      <h3>Water Department Staff</h3>
      <h4>Administration</h4>
      <p class="usa-paragraph">Shawn Brandon, Mayor; Kim Romine, administrative assistant; Keeli Baker, Rector Water Department office manager</p>
      <h4>Water/Sewer Maintenance</h4>
      <p class="usa-paragraph">Todd Watson (superintendent), and Brad Green.</p>
      <h4>Street Maintenance</h4>
      <p class="usa-paragraph">Todd Watson (superintendent), David Jones, and Matt Griggry.</p>
    </div>
    <div class="tablet:grid-col-6">
      <img 
        src="/assets/img/city-hall.jpg" 
        alt="A frontal view of City Hall's entrance." 
        width="600" 
        height="400" 
      />
      <h2>Hours</h2>
      <p class="usa-paragraph">
        Monday - Friday,<br>
        8:00 a.m. - 12:00 p.m. 1:00 p.m. - 4:00 p.m.
      </p>
    </div>
  </div>
  <h2>Water Bill Payments</h2>
  <p class="usa-paragraph">
    Your water bill due date is noted on the bill. You can pay your bill at city
    hall, by mail, or by using the drop box located at city hall. We also offer
    online bill pay. Please use the link below to pay your bill online.
  </p>
  <a
    class="usa-button"
    href="https://new.nexbillpay.net/rectorwdar/BillPay/SignIn"
    target="_blank"
    rel="noopener noreferrer"
  >
    Pay Water Bill
    {% include icon.html icon="launch" %}
  </a>
</section>
<section class="usa-section bg-base-lightest">
  <div class="grid-container">
    <h2>City Maintenance</h2>
    <div class="grid-row">
      <div class="tablet:grid-col-12">
        <p class="usa-paragraph">
          The city maintains a modern water/sewer system with three deep wells, a
          250,000-gallon storage tank and a lagoon/sand-filter sanitation system.
          Additionally, the city recently purchased several generators to
          maintain the water/sewer system in the event of an emergency, as well
          as provide electricity for the city hall and community center.
        </p>
        <p class="usa-paragraph">
          <a class="usa-link usa-link--external" href="https://www.cristengineers.com/">Crist Engineers</a> of Little Rock, AR serves as the city's engineer.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="usa-section grid-container">
  <h2>Animal Control</h2>
  <p class="usa-paragraph">
    The city also maintains an animal control center. Animal Control Officer,
    David Jones is responsible for the facility and for responding for reports
    of stray animals. If your animal has been picked up by animal control,
    please contact city hall at
    <a class="usa-link" href="tel:18705953035">(870) 595-3035</a>. You will be
    required to pay a fee to retrieve your animal.
  </p>
  <p class="usa-paragraph">
    Crowleys' Ridge Veterinary Clinic is the city's veterinarian. For adoptions,
    please contact the clinic at <a class="usa-link" href="tel:18705985145">(870) 598-5145</a>.
    Both the city and the clinic are accepting donations to help with the care.
    Please contact city hall for more information.
  </p>
</section>
<section class="usa-section bg-base-lightest padding-bottom-4">
  <div class="grid-container">
    <h2>Third Party Service Providers</h2>
    <ul class="usa-card-group">
      {% for provider in page.third_party_service_providers %}
        <li class="usa-card tablet:grid-col-6">
          <div class="usa-card__container">
            <div class="usa-card__header">
              <h3 class="usa-card__heading">{{ provider.name }}</h3>
            </div>
            <div class="usa-card__body display-flex flex-column">
              <p class="margin-bottom-0">{{ provider.description }}</p>
              {% if provider.phone %}
                {% if provider.phone.size == 1 %}
                  <p>
                    <span class="text-bold">{{ provider.phone[0].text }}:</span><br>
                    <a
                      class="usa-link"
                      href="{{ provider.phone[0].phone | prepare_tel_uri }}"
                    >{{ provider.phone[0].phone }}</a>
                  </p>
                {% else %}
                  <ul class="usa-list usa-list--unstyled margin-bottom-2">
                    {% for phone in provider.phone %}
                      <li>
                        <p>
                          <span class="text-bold">{{ phone.text }}:</span><br>
                          <a
                            class="usa-link"
                            href="{{ phone.phone | prepare_tel_uri }}"
                          >{{ phone.phone }}</a>
                        </p>
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
              {% endif %}
              {% if provider.website %}
                <p class="margin-top-auto">
                  <a class="usa-button width-full" href="{{ provider.website }}" target="_blank">{{ provider.name }}'s website</a>
                </p>
              {% endif %}
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>
