---
layout: default
title: Home
description: Official Community Website for the City of Rector, Arkansas

quick_links:
  - name: City Government
    icon: account_balance
    link: /city-government/
  - name: City Services
    icon: location_city
    link: /city-services/
  - name: Businesses
    icon: location_city
    link: javascript:void(0)
  - name: Frequently Asked Questions
    icon: help
    link: javascript:void(0)
  - name: Community Center Reservations
    icon: event
    link: javascript:void(0)
  - name: RV Park Reservations
    icon: event
    link: javascript:void(0)
  - name: Rural Fire Protection Enrollment Form
    icon: file_download
    link: javascript:void(0)
  - name: Building Permit Application
    icon: file_download
    link: javascript:void(0)
  - name: Golf Cart Permit Application
    icon: file_download
    link: javascript:void(0)
  - name: Occupation License Application
    icon: file_download
    link: javascript:void(0)
  - name: Chicken Permit Application
    icon: file_download
    link: javascript:void(0)
  - name: Tile Permit Application
    icon: file_download
    link: javascript:void(0)
---
<section class="usa-hero">
  <div class="grid-container">
    <div class="usa-hero__callout">
      <h1 class="usa-hero__heading">
        <span class="usa-hero__heading--alt">Official Community Website for the<br>City of Rector, Arkansas</span>
      </h1>
      <p>
        Home of the Labor Day Picnic.
      </p>
      <p><small>Photo credit: Brian Stansberry</small></p>
      <a class="usa-button" href="/contact/">Contact</a>
    </div>
  </div>
</section>
<section class="grid-container usa-section">
  <h2 class="font-heading-xl margin-y-0">Welcome to Rector!</h2>
  <div class="usa-intro">
    <p>It's a joy to have you visit and learn more about the little town we call home!</p>
    <p>Rector is at the southern center of Clay County at the intersection of Highways 49 and 90. Resting on the edge of Crowley’s Ridge, and surrounded by rich farmland it is a beautiful place to live. We have many outdoor opportunities, clubs, organizations, and churches. It is also home to our beloved Rector Cougars. We always have something to cheer about. </p>
    <p>Rector is a great place to work, play, raise a family, and do business. </p>
    <p>The town is made of buildings, streets, and businesses, but without our people, it is worth nothing at all. It is the people of Rector who give the town heart and truly make it a special place, a place to come home to. So many give of themselves and their time to enhance the greatness of this community. Our common values, love of small town life and dedication to others, make this a unique place to be, maybe the best place on earth. It’s because of our family, friends, and neighbors right here in Rector. </p>
    <p>Again, thank you for your interest in our town. If I or our staff can assist you in any way, please call on us and we will do our best to serve you. </p>
    <p>God Bless you all!</p>
    <p>Mayor Shawn Brandon</p>
  </div>
</section>
<section class="usa-section bg-primary">
  <div class="grid-container">
    <h2 class="font-heading-xl text-white">Quick Links</h2>
    <ul class="usa-card-group">
      {% for quick_link in page.quick_links %}
        <li class="usa-card tablet:grid-col-6 desktop:grid-col-4 homepage-card">
          <a class="usa-card__container" href="{{ quick_link.link }}">
            <div class="usa-card__body margin-top-auto">
              <div class="text-center">{% include icon.html icon=quick_link.icon size="usa-icon--size-8" %}</div>
              <h3 class="usa-card__heading text-center">{{ quick_link.name }}</h3>
            </div>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>
<section class="usa-section grid-container">
  <h2 class="font-heading-xl margin-y-0">The Rector Community Museum</h2>
  <p class="usa-intro">
    The Rector Community Museum is located at 310 Main St. Check out
    their FaceBook page for current activities and announcements. If you
    would like help support this look at history, you can mail your
    donations to:<br>
    <span class="text-base-dark">
      Rector Community Museum,<br>
      P.O. Box 313,<br>
      Rector, AR 72461.
    </span>
  </p>
  <a class="usa-button usa-button--big margin-bottom-1 tablet:margin-bottom-0" href="https://rectormuseum.com/" target="_blank">Visit the Museum's website</a>
  <a class="usa-button usa-button--big" href="https://www.facebook.com/rectormuseum" target="_blank">Visit the Museum's Facebook Page</a>
</section>
