---
layout: default
title: Home
description: Official Community Website for the City of Rector, Arkansas

quick_links:
  - name: City Government
    icon: account_balance
    link: /city-government
  - name: City Services
    icon: build
    link: /city-services
  - name: Business Directory
    icon: location_city
    link: /business-directory
  - name: Frequently Asked Questions
    icon: help
    link: /faq
  - name: Community Center Reservations
    icon: event
    link: /rector-community-center#reservations
  - name: RV Park Reservations
    icon: event
    link: javascript:void(0)
  - name: Rural Fire Protection Enrollment Form
    icon: file_download
    link: /assets/documents/rural-fire-new-customer-enrollment-form.pdf
  - name: Building Permit Application
    icon: file_download
    link: /assets/documents/building-permit-application.pdf
  - name: Golf Cart Permit Application
    icon: file_download
    link: /assets/documents/golf-cart-permit-application.pdf
  - name: Occupation License Application
    icon: file_download
    link: /assets/documents/occupation-license-application.pdf
  - name: Chicken Permit Application
    icon: file_download
    link: /assets/documents/chicken-permit.pdf
  - name: Tile Permit Application
    icon: file_download
    link: /assets/documents/tile-permit-form.pdf
---
<section class="usa-hero">
  <div class="grid-container">
    <div class="usa-hero__callout">
      <h1 class="usa-hero__heading">
        <span class="usa-hero__heading--alt">Official Community Website for the<br>City of Rector, Arkansas</span>
      </h1>
      <p>
        Home of the Labor Day Picnic.
      </p>
      <p><small>Photo credit: Brian Stansberry</small></p>
      <a class="usa-button" href="/contact/">Contact</a>
    </div>
  </div>
</section>
<section class="grid-container usa-section">
  <h2 class="font-heading-xl margin-y-0">Welcome to Rector!</h2>
  <div class="usa-intro">
    <p>It's a joy to have you visit and learn more about the little town we call home!</p>
    <p>Rector is at the southern center of Clay County at the intersection of Highways 49 and 90. Resting on the edge of Crowley’s Ridge, and surrounded by rich farmland it is a beautiful place to live. We have many outdoor opportunities, clubs, organizations, and churches. It is also home to our beloved Rector Cougars. We always have something to cheer about. </p>

    <a class="usa-button" href="/welcome-to-rector">
      Read Mayor Brandon's Welcome Message
    </a>
  </div>
</section>
<section class="usa-section bg-primary">
  <div class="grid-container">
    <h2 class="font-heading-xl text-white">Quick Links</h2>
    <ul class="usa-card-group">
      {% for quick_link in page.quick_links %}
        <li class="usa-card tablet:grid-col-6 desktop:grid-col-4 homepage-card">
          <a class="usa-card__container" href="{{ quick_link.link }}">
            <div class="usa-card__body margin-top-auto">
              <div class="text-center">{% include icon.html icon=quick_link.icon size="usa-icon--size-8" %}</div>
              <h3 class="usa-card__heading text-center">{{ quick_link.name }}</h3>
            </div>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>
<section class="usa-section grid-container">
  <h2 class="font-heading-xl margin-y-0">The Rector Community Museum</h2>
  <p class="usa-intro">
    The Rector Community Museum is located at 310 Main St. Check out
    their FaceBook page for current activities and announcements. If you
    would like help support this look at history, you can mail your
    donations to:<br>
    <span class="text-base-dark">
      Rector Community Museum,<br>
      P.O. Box 313,<br>
      Rector, AR 72461
    </span>
  </p>
  <a class="usa-button usa-button--big margin-bottom-1 tablet:margin-bottom-0" href="https://rectormuseum.com/" target="_blank">
    {% include icon.html icon="account_balance" %}
    Visit the Museum's website
  </a>
  <a class="usa-button usa-button--big" href="https://www.facebook.com/rectormuseum" target="_blank">
    {% include icon.html icon="facebook" %}
    Visit the Museum's Facebook Page
  </a>
</section>
