---
title: Rector Downtown Central
description: Learn about the Rector Downtown Central committee.
layout: default
---
<section class="usa-section bg-primary">
  <div class="grid-container">
    <h1 class="text-white">{{ page.title }}</h1>
    <p class="usa-intro text-white">
      The Rector Downtown Central committee is a group of citizens and business
      owners who are working to revitalize the downtown area. The committee
      meets monthly to discuss ideas and plan events that will bring people to
      the area.
    </p>
    <ul class="grid-row grid-gap usa-list--unstyled">
      <li class="tablet:grid-col">
        <a class="usa-button usa-button--white width-full" href="https://www.facebook.com/rectordowntowncentral" target="blank" rel="noopener noreferrer">
          {% include icon.html icon="facebook" %}
          Rector Downtown Central's Facebook
        </a>
      </li>
      <li class="tablet:grid-col">
        <a class="usa-button usa-button--white width-full margin-top-3 tablet:margin-top-0" href="javascript:void(0)" target="blank" rel="noopener noreferrer">
          Donate on PayPal
          {% include icon.html icon="launch" %}
        </a>
      </li>
    </ul>
  </div>
</section>
<section class="usa-section grid-container">
  <h2>Events Calendar</h2>
  <p class="usa-paragraph">
    This is currently a sample Google Calendar based on the city's old calendar.
    I am assuming there are additional embed options available, but without
    creating my own calendar I am not sure.
  </p>
  <style>
    .embed::before {
      padding-top: 56.25%;
    }
  </style>
  <div class="embed">
    <iframe
      class="embed"
      title="Rector Downtown Central's Google Calendar"
      src="https://calendar.google.com/calendar/embed?showTitle=0&showNav=0&showDate=0&showPrint=0&showTabs=0&showCalendars=0&showTz=0&mode=AGENDA&wkst=1&src=pp5kspsdqruj62khklttm3obpc%40group.calendar.google.com&color=%23333333&ctz=America%2FChicago"
      frameborder="0"
      scrolling="no"
    ></iframe>
  </div>
</section>
<section class="usa-section bg-base-lightest">
  <div class="grid-container">
    <h2>Sponsors</h2>
    <h3>Sample logo row</h3>
    <p>
      You're sponsor's list can be a row of logos,
    </p>
    <div class="grid-row">
      <div class="tablet:grid-col">
        <a class="display-block usa-link text-center" href="javascript:void(0)">
          {% include icon.html icon="facebook" size="usa-icon--size-7" %}<br>
          Glen Sain
        </a>
      </div>
      <div class="tablet:grid-col">
        <a class="display-block usa-link text-center" href="javascript:void(0)">
          {% include icon.html icon="twitter" size="usa-icon--size-7" %}<br>
          Sonic
        </a>
      </div>
      <div class="tablet:grid-col">
        <a class="display-block usa-link text-center" href="javascript:void(0)">
          {% include icon.html icon="instagram" size="usa-icon--size-7" %}<br>
          Caffeinated Cow
        </a>
      </div>
    </div>
    <h3>Sample Table</h3>
    <p>
      a table,
    </p>
    <table class="usa-table">
      <thead>
        <tr>
          <th scope="col">Sponsor</th>
          <th scope="col">Description</th>
          <th scope="col">Contribution</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Glen Sain</th>
          <td>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac consectetur libero.
          </td>
          <td>$100.40</td>
        </tr>
        <tr>
          <th scope="row">Sonic</th>
          <td>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac consectetur libero.
          </td>
          <td>$100.40</td>
        </tr>
        <tr>
          <th scope="row">Caffeinated Cow</th>
          <td>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac consectetur libero.
          </td>
          <td>$100.40</td>
        </tr>
      </tbody>
    </table>
    <h3>Sample List</h3>
    <p>
      or it can be a list.
    </p>
    <ul class="usa-list">
      <li>Walmart</li>
      <li>Kroger</li>
      <li>Costco</li>
    </ul>
  </div>
</section>
<section class="usa-section grid-container">
  <h2>Donate</h2>
  <p class="usa-paragraph">
    Rector Downtown Central is powered by donations from people like you. Your
    contribution will help us continue to revitalize the downtown area. Use the
    button below to make a donation.
  </p>
  <a class="usa-button" href="javascript:void(0)" target="blank" rel="noopener noreferrer">
    Donate on PayPal
    {% include icon.html icon="launch" %}
  </a>
</section>
