---
title: Rector Downtown Central
description: Learn about the Rector Downtown Central committee.
layout: default
---
<section class="usa-section bg-primary">
  <div class="grid-container">
    <h1 class="text-white">{{ page.title }}</h1>
    <p class="usa-intro text-white">
      The Rector Downtown Central committee is a group of citizens and business
      owners who are working to revitalize the downtown area. The committee
      meets monthly to discuss ideas and plan events that will bring people to
      the area.
    </p>
    <ul class="grid-row grid-gap usa-list--unstyled">
      <li class="tablet:grid-col-6">
        <a class="usa-button usa-button--white width-full" href="https://www.facebook.com/rectordowntowncentral" target="blank" rel="noopener noreferrer">
          {% include icon.html icon="facebook" %}
          Rector Downtown Central's Facebook
        </a>
      </li>
      {% comment %}
      <li class="tablet:grid-col-6">
        <a class="usa-button usa-button--white width-full margin-top-3 tablet:margin-top-0" href="javascript:void(0)" target="blank" rel="noopener noreferrer">
          Donate on PayPal
          {% include icon.html icon="launch" %}
        </a>
      </li>
      {% endcomment %}
    </ul>
  </div>
</section>
<section class="usa-section grid-container">
  <h2>About Rector Downtown Central</h2>
  <img src="/assets/img/rdc-logo.svg" alt="Rector Downtown Central's logo" width="1333" height="538">
  <div class="usa-paragraph">
    <p>
      Rector Downtown Central is local nonprofit who's goal is downtown 
      revitalization and beautification. Partnering with Main Street Arkansas,
      the committee organizes local events, and helps businesses begin or grow
      in downtown Rector.
    </p>
  </div>
</section>
