<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rector Arkansas - Official Community Website for the City of Rector, Arkansas</title>
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <link rel="stylesheet" href="/assets/uswds/css/styles.css">
</head>
<body>
  <a class="usa-skipnav" href="#main-content">Skip to main content</a>
  <div class="usa-overlay"></div>
  <header class="usa-header usa-header--basic">
    <div class="usa-nav-container">
      <div class="usa-navbar">
        <div class="usa-logo">
          <div class="usa-logo__image">
            <a class="display-block" href="/" aria-label="Home">
              <picture>
                <source srcset="/assets/uswds/img/rector-circle.svg" media="(max-width: 63.99em)" width="40" height="40">
                <img src="/assets/uswds/img/logo.svg" alt="City of Rector, Arkansas" width="237.7" height="100">
              </picture>
            </a>
          </div>
        </div>
        <button type="button" class="usa-menu-btn">Menu</button>
      </div>
      <nav aria-label="Primary navigation" class="usa-nav">
        <button type="button" class="usa-nav__close">
          <img src="/assets/uswds/img/usa-icons/close.svg" role="img" alt="Close" />
        </button>
        <ul class="usa-nav__primary usa-accordion">
          <li class="usa-nav__primary-item">
            <button
              type="button"
              class="usa-accordion__button usa-nav__link"
              aria-expanded="false"
              aria-controls="basic-mega-nav-section-one"
            >
              <span>Departments</span>
            </button>
            <div
              id="basic-mega-nav-section-one"
              class="usa-nav__submenu usa-megamenu"
            >
              <div class="grid-row grid-gap-4">
                <div class="usa-col">
                  <ul class="usa-nav__submenu-list">
                    <li class="usa-nav__submenu-item">
                      <a href="/city-government/">City Government</a>
                    </li>
                    <li class="usa-nav__submenu-item">
                      <a href="javascript:void(0);">City Services</a>
                    </li>
                    <li class="usa-nav__submenu-item">
                      <a href="javascript:void(0);">Rector Police Department</a>
                    </li>
                    <li class="usa-nav__submenu-item">
                      <a href="javascript:void(0);">Rector Municipal Airport</a>
                    </li>
                  </ul>
                </div>
                <div class="usa-col">
                  <ul class="usa-nav__submenu-list">
                    <li class="usa-nav__submenu-item">
                      <a href="javascript:void(0);">Fire and Ambulance Rescue Department</a>
                    </li>
                    <li class="usa-nav__submenu-item">
                      <a href="javascript:void(0);">Rector Community Center</a>
                    </li>
                    <li class="usa-nav__submenu-item">
                      <a href="javascript:void(0);">Rector Beautification Committee</a>
                    </li>
                    <li class="usa-nav__submenu-item">
                      <a href="javascript:void(0);">Woodland Heights Cemetery</a>
                    </li>
                  </ul>
                </div>
                <div class="usa-col">
                  <ul class="usa-nav__submenu-list">
                    <li class="usa-nav__submenu-item">
                      <a href="javascript:void(0);">Community Development</a>
                    </li>
                    <li class="usa-nav__submenu-item">
                      <a href="javascript:void(0);">Chamber of Commerce</a>
                    </li>
                    <li class="usa-nav__submenu-item">
                      <a href="javascript:void(0);">Planning and Zoning</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li class="usa-nav__primary-item">
            <button
              type="button"
              class="usa-accordion__button usa-nav__link"
              aria-expanded="false"
              aria-controls="basic-mega-nav-section-two"
            >
              <span>Community</span>
            </button>
            <div
              id="basic-mega-nav-section-two"
              class="usa-nav__submenu usa-megamenu"
            >
              <div class="grid-row grid-gap-4">
                <div class="usa-col">
                  <ul class="usa-nav__submenu-list">
                    <li class="usa-nav__submenu-item">
                      <a href="javascript:void(0);">History</a>
                    </li>
                    <li class="usa-nav__submenu-item">
                      <a href="javascript:void(0);">Business</a>
                    </li>
                    <li class="usa-nav__submenu-item">
                      <a href="javascript:void(0);">Labor Day</a>
                    </li>
                    <li class="usa-nav__submenu-item">
                      <a href="javascript:void(0);">Museum</a>
                    </li>
                  </ul>
                </div>
                <div class="usa-col">
                  <ul class="usa-nav__submenu-list">
                    <li class="usa-nav__submenu-item">
                      <a href="javascript:void(0);">Churches</a>
                    </li>
                    <li class="usa-nav__submenu-item">
                      <a href="javascript:void(0);">Schools</a>
                    </li>
                    <li class="usa-nav__submenu-item">
                      <a href="javascript:void(0);">Public Library</a>
                    </li>
                    <li class="usa-nav__submenu-item">
                      <a href="javascript:void(0);">Health Care</a>
                    </li>
                  </ul>
                </div>
                <div class="usa-col">
                  <ul class="usa-nav__submenu-list">
                    <li class="usa-nav__submenu-item">
                      <a href="javascript:void(0);">About Town</a>
                    </li>
                    <li class="usa-nav__submenu-item">
                      <a href="javascript:void(0);">Clay County Arts Council, Inc.</a>
                    </li>
                    <li class="usa-nav__submenu-item">
                      <a href="javascript:void(0);">Garden Club</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li class="usa-nav__primary-item">
            <a href="javascript:void(0);" class="usa-nav-link">Documents</a>
          </li>
          <li class="usa-nav__primary-item">
            <a href="/contact/" class="usa-nav-link">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  <main id="main-content">
    {{ content }}
  </main>
  <footer class="usa-footer">
    <div class="grid-container usa-footer__return-to-top">
      <a href="#">Return to top</a>
    </div>
    <div class="usa-footer__secondary-section">
      <div class="grid-container">
        <div class="grid-row grid-gap">
          <div
            class="usa-footer__logo grid-row mobile-lg:grid-col-6 mobile-lg:grid-gap-2"
          >
            <div class="mobile-lg:grid-col-auto">
              <img
                class="usa-footer__logo-img"
                src="/assets/uswds/img/rector-circle.svg"
                role="presentation"
              />
            </div>
            <div class="mobile-lg:grid-col-auto">
              <p class="usa-footer__logo-heading">Rector, Arkansas</p>
            </div>
          </div>
          <div class="usa-footer__contact-links mobile-lg:grid-col-6">
            <div class="usa-footer__social-links grid-row grid-gap-1">
              <div class="grid-col-auto">
                <a class="usa-social-link" href="https://www.facebook.com/p/Rector-Arkansas-100064467411287/"
                  target="_blank" rel="noopener noreferrer"
                  ><img
                    class="usa-social-link__icon"
                    src="/assets/uswds/img/usa-icons/facebook.svg"
                    alt="Facebook"
                /></a>
              </div>
            </div>
            <address class="usa-footer__address">
              <div class="usa-footer__contact-info grid-row grid-gap">
                <div class="grid-col-auto">
                  <a href="tel:1-870-595-3035">(870) 595-3035</a>
                </div>
                <div class="grid-col-auto">
                  <a href="mailto:water@rectorarkansas.com">water@rectorarkansas.com</a>
                </div>
              </div>
            </address>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <div class="usa-identifier">
    <nav
      class="usa-identifier__section usa-identifier__section--required-links"
      aria-label="Important links"
    >
      <div class="usa-identifier__container">
        <ul class="usa-identifier__required-links-list">
          <li class="usa-identifier__required-links-item">
            <a
              href="/city-government/"
              class="usa-identifier__required-link usa-link"
              >City Government</a
            >
          </li>
          <li class="usa-identifier__required-links-item">
            <a
              href="javascript:void(0)"
              class="usa-identifier__required-link usa-link"
              >City Services</a
            >
          </li>
          <li class="usa-identifier__required-links-item">
            <a
              href="javascript:void(0)"
              class="usa-identifier__required-link usa-link"
              >Documents</a
            >
          </li>
          <li class="usa-identifier__required-links-item">
            <a
              href="/contact/"
              class="usa-identifier__required-link usa-link"
              >Contact</a
            >
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <script src="/assets/uswds/js/uswds.min.js"></script>
</body>
</html>

