<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <link rel="stylesheet" href="/assets/uswds/css/styles.css">
</head>
<body>
  <a class="usa-skipnav" href="#main-content">Skip to main content</a>
  <div class="usa-overlay"></div>
  <header class="usa-header usa-header--basic">
    <div class="usa-nav-container">
      <div class="usa-navbar">
        <div class="usa-logo">
          <div class="usa-logo__image">
            <a class="display-block" href="/" aria-label="Home">
              <picture>
                <source srcset="/assets/uswds/img/rector-circle.svg" media="(max-width: 63.99em)" width="40" height="40">
                <img src="/assets/uswds/img/logo.svg" alt="City of Rector, Arkansas" width="237.7" height="100">
              </picture>
            </a>
          </div>
        </div>
        <button type="button" class="usa-menu-btn">Menu</button>
      </div>
      <nav aria-label="Primary navigation" class="usa-nav">
        <button type="button" class="usa-nav__close">
          <img src="/assets/uswds/img/usa-icons/close.svg" role="img" alt="Close" />
        </button>
        <ul class="usa-nav__primary usa-accordion">
          {% for menu_item in site.data.navigation %}
            {% assign classes = 'usa-nav-link' %}

            {% if page.url == menu_item.url %}
              {% assign classes = classes|append: ' usa-current' %}
            {% endif %}

            {% if menu_item.submenu %}
              {% assign classes = 'usa-accordion__button usa-nav__link' %}

              {% for section in menu_item.submenu %}
                {% for submenu_item in section %}
                  {% if page.url == submenu_item.url %}
                    {% assign classes = classes|append: ' usa-current' %}
                  {% endif %}
                {% endfor %}
              {% endfor %}
              <li class="usa-nav__primary-item">
                <button
                  type="button"
                  class="{{ classes }}"
                  aria-expanded="false"
                  aria-controls="mega-nav-section-{{ forloop.index }}"
                >
                  <span>{{ menu_item.title }}</span>
                </button>
                <div
                  id="mega-nav-section-{{ forloop.index }}"
                  class="usa-nav__submenu usa-megamenu"
                >
                  <div class="grid-row grid-gap-4">
                    {% for section in menu_item.submenu %}
                      <div class="usa-col">
                        <ul class="usa-nav__submenu-list">
                          {% for submenu_item in section %}
                            <li class="usa-nav__submenu-item">
                              <a href="{{ submenu_item.url }}">{{ submenu_item.title }}</a>
                            </li>
                          {% endfor %}
                        </ul>
                      </div>
                    {% endfor %}
                  </div>
                </div>
              </li>
            {% else %}
              <li class="usa-nav__primary-item">
                <a href="{{ menu_item.url }}" class="{{ classes }}">{{ menu_item.title }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </nav>
    </div>
  </header>
  <main id="main-content">
    {{ content }}
  </main>
  <footer class="usa-footer">
    <div class="grid-container usa-footer__return-to-top">
      <a href="#">Return to top</a>
    </div>
    <div class="usa-footer__secondary-section">
      <div class="grid-container">
        <div class="grid-row grid-gap">
          <div
            class="usa-footer__logo grid-row mobile-lg:grid-col-6 mobile-lg:grid-gap-2"
          >
            <div class="mobile-lg:grid-col-auto">
              <img
                class="usa-footer__logo-img"
                src="/assets/uswds/img/rector-circle.svg"
                role="presentation"
              />
            </div>
            <div class="mobile-lg:grid-col-auto">
              <p class="usa-footer__logo-heading">Rector, Arkansas</p>
            </div>
          </div>
          <div class="usa-footer__contact-links mobile-lg:grid-col-6">
            <div class="usa-footer__social-links grid-row grid-gap-1">
              <div class="grid-col-auto">
                <a class="usa-social-link" href="https://www.facebook.com/p/Rector-Arkansas-100064467411287/"
                  target="_blank" rel="noopener noreferrer"
                  ><img
                    class="usa-social-link__icon"
                    src="/assets/uswds/img/usa-icons/facebook.svg"
                    alt="Facebook"
                /></a>
              </div>
            </div>
            <address class="usa-footer__address">
              <div class="usa-footer__contact-info grid-row grid-gap">
                <div class="grid-col-auto">
                  <a href="tel:1-870-595-3035">(870) 595-3035</a>
                </div>
                <div class="grid-col-auto">
                  <a href="mailto:water@rectorarkansas.com">water@rectorarkansas.com</a>
                </div>
              </div>
            </address>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <div class="usa-identifier">
    <nav
      class="usa-identifier__section usa-identifier__section--required-links"
      aria-label="Important links"
    >
      <div class="usa-identifier__container">
        <ul class="usa-identifier__required-links-list">
          <li class="usa-identifier__required-links-item">
            <a
              href="/city-government/"
              class="usa-identifier__required-link usa-link"
              >City Government</a
            >
          </li>
          <li class="usa-identifier__required-links-item">
            <a
              href="/city-services/"
              class="usa-identifier__required-link usa-link"
              >City Services</a
            >
          </li>
          <li class="usa-identifier__required-links-item">
            <a
              href="javascript:void(0)"
              class="usa-identifier__required-link usa-link"
              >Documents</a
            >
          </li>
          <li class="usa-identifier__required-links-item">
            <a
              href="/contact/"
              class="usa-identifier__required-link usa-link"
              >Contact</a
            >
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <script src="/assets/uswds/js/uswds.min.js"></script>
</body>
</html>

